<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>clienteWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>edu.unipe.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/logar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarClientesServlet</servlet-name>
    <servlet-class>edu.unipe.servlets.ListarClientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClientesServlet</servlet-name>
    <url-pattern>/listarClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NovoClienteServlet</servlet-name>
    <servlet-class>edu.unipe.servlets.NovoClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoClienteServlet</servlet-name>
    <url-pattern>/formularioCadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RemoverClienteServlet</servlet-name>
    <servlet-class>edu.unipe.servlets.RemoverClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverClienteServlet</servlet-name>
    <url-pattern>/removerCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teste</display-name>
    <servlet-name>teste</servlet-name>
    <servlet-class>edu.unipe.servlets.teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teste</servlet-name>
    <url-pattern>/teste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovaCategoriaServlet2</display-name>
    <servlet-name>NovaCategoriaServlet2</servlet-name>
    <servlet-class>edu.unipe.servlets.NovaCategoriaServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovaCategoriaServlet2</servlet-name>
    <url-pattern>/NovaCategoriaServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverCategoria</display-name>
    <servlet-name>RemoverCategoria</servlet-name>
    <servlet-class>edu.unipe.servlets.RemoverCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverCategoria</servlet-name>
    <url-pattern>/RemoverCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCategoriaServlet</display-name>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <servlet-class>edu.unipe.servlets.ListarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <url-pattern>/ListarCategoriaServlet</url-pattern>
  </servlet-mapping>
</web-app>